.login-body {
  .container{
    height: 100%;
  }
}
.splash-login-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  .splash-login {
    position: relative;
    max-width: 530px;
    margin: auto;
    display: table-row;
    .login-button-nav {
      padding: 28px 20px;
      background-color: $color-login;
      border: 0;
      text-align: center;
      font-size: 28px;
      color: #fff;
      width: 100%;
      display: block;
      text-decoration: none;
      @include respond-to-custom-size(null,$app-breakpoint) {
        padding: 16px 20px;
        font-size: 14px;
      }
    }
    .splash-login-logo {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      @include respond-to-custom-size(null,$app-breakpoint) {
        img {
          max-width: 197px;
        }
      }
    }
    .splash-login-button {
      display: table-cell;
      vertical-align: bottom;
      padding: 68px 36px;
      @include respond-to-custom-size(null,$app-breakpoint) {
        padding: 31px 9px;
      }
    }
  }
  .splash-login-logo-wrapper {
    height: 65%;
    @include respond-to-custom-size(null,$app-breakpoint) {

    }
  }
  .splash-login-button-wrapper {
    height: 35%;

  }
}
.form-signin {
  &-wrapper {

  }
  &-inner {
    padding: 97px 20px 0 20px;

    #form-sign-in {
      background-color: #fff;
      padding: 36px 36px 69px 36px;
      margin: auto;
      -webkit-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.42);
      -moz-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.42);
      box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.42);
      .form-logo {
        padding: 72px 26px;
      }
      img {
        width: 100%;
        height: auto;
      }
      .form-group {
        margin-top: 17px;
        position: relative;
        input[type=text], input[type=password]{
          height: 65px;
          background: #f3f3f3;
          border-radius: 0;
          font-size: 21px;
          padding: 0 55px;
          border: 0;
          &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px #f3f3f3 inset;
          }
        }
        label {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 20px;
          width: 20px;
          height: 28px;
          &.label-email {
            background: url("../img/user-icon.png") center no-repeat;
          }
          &.label-password {
            background: url("../img/lock-icon.png") center no-repeat;
          }
          &.error {
            position: static;
            color: red;
            width: 100%;
            display: block;
            padding: 5px 0;
          }
        }

      }
      .form-actions {
        button {
          height: 77px;
          width: 100%;
          font-size: 21px;
          color: #fff;
          background: #3a3939;
          border: 0;
          border-radius: 0;
          text-decoration: none;
          display: block;
        }
      }
      .alert {
        margin: 15px 0 0 0;
        border-radius: 0;
        border-width: 2px;
      }
    }
    .forgot-password {
      text-align: right;
      padding: 20px 0;
      a {
        color: #666666;
        text-transform: capitalize;
        font-size: 21px;
      }
    }
    @include respond-to-custom-size(null,$app-breakpoint) {
      padding: 55px 0 0 0 ;
      #form-signin {
        padding: 36px 18px 34px 18px;
        .form-logo {
          padding: 17px 13px 43px 13px;
        }
        .form-group {
          margin-top: 0;
          margin-bottom: 5px;
          input[type=text], input[type=password]{
            height: 37px;
            background: #f3f3f3;
            font-size: 14px;
            padding: 0 25px;
          }
          label {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 4px;
            width: 20px;
            height: 28px;
            &.label-email {
              background: url("../img/user-icon.png") center no-repeat;
              background-size: 56%;
            }
            &.label-password {
              background: url("../img/lock-icon.png") center no-repeat;
              background-size: 56%;
            }
          }

        }
        .form-actions {
          button {
            height: 41px;
            width: 100%;
            font-size: 14px;
          }
        }
      }
      .forgot-password {
        padding: 14px 0;
        a {
          font-size: 14px;
        }
      }
    }
  }
}