.facility-info {
  ul {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    li {
      padding: 0 0;
      &:nth-child(n + 1) {
        background-color: #fff;
      }
      &:nth-child(2n + 1) {
        background-color: #f5f8fc;
      }
    }
  }
  .info {
    &-item {
      .inner {
        position: relative;
        padding: 30px 0 30px 110px;
        min-height: 132px;
        @include respond-to-custom-size(null,480px) {
          position: relative;
          padding: 12px 0 12px 57px;
          min-height: 67px;
        }
      }
    }
    &-title {
      font-size: 21px;
      color: #999999;
      text-transform: uppercase;
      margin-bottom: 4px;
      font-weight: 600;
      @include respond-to-custom-size(null,480px) {
        font-size: 14px + $step-font-size;
      }
    }
    &-content {
      font-size: 28px;
      color: #49494e;
      font-weight: 600;
      @include respond-to-custom-size(null,480px) {
        font-size: 20px;
      }
    }
    &-icon {
      position: absolute;
      height: 62px;
      width: 61px;
      left: 0;
      background: url("../img/icon-facility.png") 0 0 no-repeat;
      top: 33px;

      &.icon-date {
        background-position: 0 -133px;
      }
      &.icon-key {
        background-position: 0 -273px;
      }
      &.icon-panel {
        background-position: 0 -398px;
      }
      &.icon-file {
        background-position: 0 -533px;
      }
      @include respond-to-custom-size(null,480px) {
        position: absolute;
        height: 40px;
        width: 40px;
        background-image: url("../img/icon-facility.png");
        background-size: 35px 343px;
        background-repeat: no-repeat;
        top: 15px;
        left: 0;
        &.icon-date {
          background-position: 0 -77px;
        }
        &.icon-key {
          background-position: 0px -154px;
        }
        &.icon-panel {
          background-position: 0 -228px;
        }
        &.icon-file {
          background-position: 0 -312px;
        }
      }
    }
  }
}
.rate-tasks {
  padding-top: 90px;
  background-color: #edf0f5;
  margin-top: 19px;
  padding-bottom: 119px;
  @include respond-to-custom-size(null,$app-breakpoint) {
    padding-top: 36px;
  }
  &-title {
    font-size: 36px;
    color: #3a3939;
    margin-bottom: 25px;
    font-weight: 600;
    @include respond-to-custom-size(null,$app-breakpoint) {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }
  #task-list {
    padding: 0;
    list-style: none;
    .task-item {
      background-color: #fff;
      padding: 27px 0;
      margin-bottom: 40px;
      @include respond-to-custom-size(null,$app-breakpoint) {
        padding: 10px 0 23px 0;
        margin-bottom: 20px;
      }
      .inner {

        .task-item-title {
          float: left;
          color: #b84541;
          font-size: 30px;
          font-weight: 600;
          @include respond-to-custom-size(null,$app-breakpoint) {
            font-size: 20px;
            margin-top: 5px;
          }
        }
        .image-control {
          a {
            width: 100%;
            border: 1px solid #d3d7dd;
            color: #d3d7dd;
            font-size: 48px;
            background-size: cover ;
            background-position: center;
            background-repeat: no-repeat;
            text-align: center;
            display: block;
            padding: 0;
            position: relative;
            span {
              position: absolute;
              right: 0;
              left: 0;
              bottom: 0;
              top: 0;
              text-align: center;
              vertical-align: middle;
              padding-top: 30%;
            }
            img {
              width: 100%;
              height: auto;
            }
            @include respond-to-custom-size(null,480px) {
              font-size: 20px + $step-font-size;
            }
          }
        }
        .task-action {
          float: right;
          .br-theme-fontawesome-stars-o {
            float: left;
            margin-right: 5px;
            margin-top: 7px;
            @include respond-to-custom-size(null,480px) {
              margin-right: 14px;
              margin-top: 7px;
            }
            .br-widget {
              a {
                font: normal normal normal 20px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                text-decoration: none;
                margin-right: 2px;
                font-size: 35px;
                @include respond-to-custom-size(null,$app-breakpoint) {
                  margin-right: 5px;
                  font-size: 21px;
                }
                &:after {
                  content: "\f006";
                  color: #f1c40f;
                }
                &.br-selected, &.br-current , &.br-active{
                  &:after {
                    content: "\f005";;
                    color: #f1c40f;
                  }
                }
              }

            }
          }
          .edit-facility {
            font-size: 21px;
            display: block;
            float: left;
            background-color: #d3d7dd;
            color: #393c42;
            border: 1px solid #c5c9cf;
            border-radius: 5px;
            text-decoration: none;
            padding: 10px 30px;
            text-transform: uppercase;
            font-weight: 600;
            @include respond-to-custom-size(null,480px) {
              font-size: 13px;
              padding: 5px 15px;
              border-radius: 3px;
            }
            &.active {
              background-color: #b84541;
              color: #fff;
            }
          }
          .rate-task-btn {
            font-size: 21px;
            display: block;
            float: left;
            background-color: #b84541;
            color: #fff;
            border: 1px solid transparent;
            border-radius: 5px;
            text-decoration: none;
            padding: 10px 30px;
            text-transform: uppercase;
            font-weight: 600;

            @include respond-to-custom-size(null,480px) {
              font-size: 13px;
              padding: 5px 15px;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
  .image-control {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    @include respond-to-custom-size(null,480px) {
      padding-top: 4px;
      padding-bottom: 4px;
    }
    .image-list {
      list-style: none;
      padding: 0;
      margin: 0 -5px;
      &:before,&:after {
        content: "";
        display: table;
        clear: both;
      }
      li {
        float: left;
        width: 25%;
        padding: 0 5px;
        margin-bottom: 5px;
      }
    }
  }

}
.request-adhoc {
  a {
    text-align: center;
    background-color: #b84541;
    display: block;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    padding: 40px 0;
    @include respond-to-custom-size(null,480px) {
      font-size: 20px;
      padding: 20px 0;
    }
  }
}
