.notification-wrapper {
  min-height: 100vh;
  padding: 0;
}
#list-notifications {
  .notification-item {
    position: relative;
    font-size: 21px;
    color: #999999;
    text-decoration: none;
    .fa {
      position: absolute;
      height: 62px;
      width: 61px;
      left: 0;
      top: 33px;
      display: block;
      font-size: 30px;
    }
    &.unread {
      color: #49494e;
    }
    @include respond-to-custom-size(null,480px) {
      font-size: 20px;
    }
  }
}
.notification-content {
  padding: 15px;
  background-color: #b84541;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
}