.task-rating {
  background: #f5f8fc;
  padding-bottom: 47px;
  &-title {
    font-size: 21px;
    color: #999999;
    text-transform: uppercase;
    padding-top: 14px;
  }

  .br-theme-fontawesome-stars-o {
    margin-top: 22px;
    .br-widget {
      height: auto;
      a {
        font: normal normal normal 20px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
        margin-right: 21px;
        font-size: 71px;
        &:after {
          color: #f1c40f;
        }
      }
      .br-selected, .br-current {
        &:after {
          color: #f1c40f;
        }
      }
    }
  }
  @include respond-to-custom-size(null,480px) {
    padding-bottom: 20px;
    &-title {
      font-size: 14px + $step-font-size;
      padding-top: 7px;
    }
    .br-theme-fontawesome-stars-o {
      margin-top: 7px;
      .br-widget {
        height: auto;
        a {
          margin-right: 9px;
          font-size: 36px + $step-font-size;

        }
      }
    }
  }
}
.single-task-image {
  min-height: 485px;
  @include respond-to-custom-size(null,480px) {
    min-height: 248px;
  }
}
.task-images {
  &-title {
    font-size: 21px;
    color: #999999;
    text-transform: uppercase;
    padding-top: 37px;
  }
  .task-images-list-wrapper {
    overflow: hidden;
  }
  .task-images-list {
    list-style: none;
    padding:  10px 0;
    overflow: hidden;
    margin:0 -5px;
    &:before,&:after {
      content: "";
      display: table;
      clear: both;
    }
    .image-item {
      width: 25%;
      float: left;
      padding: 0 5px;
      margin-bottom: 10px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  @include respond-to-custom-size(null,480px) {
    &-title {
      padding-top: 20px;
      font-size: 14px;
    }
  }
}
.submit-rating {
  button {
    text-align: center;
    display: block;
    border: 0;
    background-color: #b84541;
    width: 100%;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    padding: 40px 0;
    @include respond-to-custom-size(null,480px) {
      font-size: 14px + $step-font-size;
      padding: 20px 0;
    }
  }
}
.status-message {
  margin-bottom: 15px;
  .inner {
    padding: 15px 0;
    font-size: 20px;
  }
}
.popup-image {
  width: 150px;
  height: 150px;
  border: 1px solid #d3d7dd;
  display: inline-block;
  color: #d3d7dd;
  font-size: 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include respond-to-custom-size(null,480px) {
    width: 75px;
    height: 75px;
  }
}
.btn-file {
  position: relative;
  border: 1px solid #b84541;
  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
  }
}
.btn {
  margin-bottom: 5px;
}
.dynamic-form-item {
  td {
    border: 1px solid #ddd;
    padding: 10px;
  }
}
.delete-form-item  {
  background-color:  #b84541;
  border: 1px solid #b84541;
}
.form-update-image {
  background-color: #fff;
}
.add-item {
  display: block;
  width: 100%;
  padding: 3px 0;
  font-size: 20px;
  margin-top: 15px;
}
.image-preview {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
  img {
    max-width: 100px;
    width: 320px;
    height: auto;
  }
}
#cboxWrapper {
  #cboxTopLeft,#cboxTopCenter,#cboxTopRight,#cboxMiddleLeft,#cboxMiddleRight,#cboxBottomLeft,#cboxBottomCenter,#cboxBottomRight{
    display: none;
  }
  #cboxPrevious,#cboxNext {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 42px;
    height: 59px;
    padding: 10px;
    border-radius: 4px !important;
    background-image: none;
    background-color:rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    font-size: 14px;
    border: 0;
    text-indent: 0;
    &:focus {
      outline: none;
    }
  }
  #cboxPrevious {
    left: 5px;
  }
  #cboxNext  {
    left: auto;
    right: 5px;
  }
  #cboxClose {
    display: none;
  }
  #cboxCurrent {
    text-align: right;
    text-transform: uppercase;
    right: 5px;
    left: auto;
  }
  #cboxContent {
    float: none !important;
    margin: auto;
  }
}
#cboxLoadedContent {
  border: 5px solid #fff;
  margin-bottom: 34px;
}
