.sidebar {
  height: 100vh;
  background: #3a3939;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translate(-100%, 0);
  width: 363px;

  transition: all 0.3s;
  &.active {
    left: 0;
    transform: translate(0, 0);
    -webkit-box-shadow: 5px 1px 5px 2px rgba(0,0,0,0.44);
    -moz-box-shadow: 5px 1px 5px 2px rgba(0,0,0,0.44);
    box-shadow: 5px 1px 5px 2px rgba(0,0,0,0.44);
  }
  &-logo {
    background: #a43531;
    padding: 14px 27px 16px 34px;
  }
  .sidebar-menu {
    list-style: none;
    padding: 28px 0;
    li {
      color: #fff;
      background-color: transparent;
      font-size: 28px;
      a {
        padding: 20px 40px;
        display: block;
        color: #fff;
        font-weight: 600;
      }

    }
    .menu-item {
      .menu-icon {
        background: url("../img/menu-icon.png") 0 0 no-repeat;
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-top: 13px;
        margin-right: 16px;
      }
      &.menu-dashboard {
        .menu-icon {
          background-position: -26px 0;
        }
      }
      &.menu-logout {
        .menu-icon {
          background-position: -26px -22px;
        }
      }
      &.active,&:hover {
        background: #464545;
        &.menu-dashboard {
          .menu-icon {
            background-position: 0 0;
          }
        }
        &.menu-logout {
          .menu-icon {
            background-position: 0 -22px;
          }
        }
      }
    }
  }
  @include respond-to-custom-size(null,$app-breakpoint) {
    width: 205px;
    &-logo {
        padding: 8px 16px 8px 16px;
    }
    .sidebar-menu {
      list-style: none;
      padding: 13px 0;
      li {
        font-size: 20px;
        a {
          padding: 12px 20px;
        }
      }
      .menu-item {
        .menu-icon {
          background: url("../img/menu-icon.png") 13px 0 no-repeat;
          background-size: 27px 25px;
          width: 13px;
          height: 13px;
          margin-top: 6px;
          margin-right: 9px;
        }
        &.menu-dashboard {
          .menu-icon {
            background-position: -13px 0;
          }
        }
        &.menu-logout {
          .menu-icon {
            background-position: -13px -14px;
          }
        }
        &.active,&:hover {
          background: #464545;
          &.menu-dashboard {
            .menu-icon {
              background-position: 0 0;
            }
          }
          &.menu-logout {
            .menu-icon {
              background-position: 0 -11px;
            }
          }
        }
      }
    }
  }
}