@import "functions";
@import "devices";
@import "app-global";
@import "app-login";
body {
  &.login-body {
    background: url('../img/login-bg-mobile.jpg') center no-repeat;
    background-size: cover;
  }
}

.app {
  display: none;
}