/*
 * @use
 *  use with ../libs/Bootstrap_Nav_Walker.php
 * @param
 *  $menu-id                     : ID of your menu element
 *  $bg-color (optional)         : background color of your navigation menu (default is transparent)
 *  $link-color (optional)       : color of link (default is inherit)
 *  $link-hover-color (optional) : color of link when hover (default is inherit)
 *  $active-color (optional)     : color of active menu item (default is $link-hover-color)
 *  $break-point (optional)      : break point of navigation menu to transfer to mobile view.
**/
@mixin horizontal-resp-nav-menu($menu-selector, $bg-color: transparent, $link-color: inherit, $link-hover-color: inherit, $active-color: $link-hover-color, $break-point: 1024) {

  @if $link-hover-color == inherit {
    $link-hover-color : $link-color;
  } @else if $link-hover-color == '' {
    $link-hover-color : $link-color;
  }
  @if $active-color == null {
    $active-color : $link-hover-color;
  } @else if $active-color == '' {
    $active-color : $link-hover-color;
  }

  @if $menu-selector == '' {
    $menu-selector : '.main-navigation'
  }
  #{$menu-selector} {
    @include rem-fallback('font-size', 1.6);
    font-weight: 700;
    background: $bg-color;

    .navbar {
      min-height: 0;
      margin: 0;
      border: 0;
      position: static;
    }

    .navbar-default {
      border-radius: 0;
      background-color: transparent;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border: 0;
      padding: 0;
    }
    .nav > li {
      position: relative;
    }
    a, .navbar-default .navbar-nav > li > a {
      color: $link-color;
      display: block;
      padding: 0 15px;
      line-height: 1;
    }
    a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li.current-menu-parent > a {
      color: $active-color;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }
    .menu > li {
      padding: 0;
      &:first-child {
        margin-left: 0;
      }
      &.current-menu-parent,
      &:hover, &.current-menu-item {
        color: $active-color;
        a {
          color: $active-color;
          text-decoration: none;
        }
      }

    }
    .menu li ul.dropdown-menu {
      background: $bg-color;
      border: none;
      padding: 0;
      width: 100%;
      @include border-radius(0);

      @include respond-to-custom-size(#{$break-point}px) {
        display: block;
        opacity: 0;
        visibility: hidden;
        width: auto;
      }

      li {

        & > a {
          color: $link-color;
          padding: 5px 10px;
          border-right: none;
          position: relative;
        }
      }
    }
    .menu li:hover ul.dropdown-menu {
      opacity: 1;
      visibility: visible;
      -webkit-transition: opacity 0.3s, height 0.3s;
      -moz-transition: opacity 0.3s, height 0.3s;
      -ms-transition: opacity 0.3s, height 0.3s;
      -o-transition: opacity 0.3s, height 0.3s;
      transition: opacity 0.3s, height 0.3s;
    }
    .menu li ul li {
      float: none;

      & a {
        display: block;
        padding: 15px 26px 15px 27px;
        line-height: 23px;
        text-transform: capitalize;
        color: $link-color;
      }

    }
    .menu li ul li a:hover, .menu li ul li.current-menu-item a {
      background: $bg-color;
    }

    .navbar-toggle {
      float: right;
      margin-left: 5px;
      padding: 8px 5px;
    }
    .navbar-default .navbar-toggle .icon-bar {
      @if $link-hover-color != inherit {
        background: $active-color;
      } @else if $link-hover-color != inherit {
        background: $active-color;
      }
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background: transparent;
    }

    @include respond-to-custom-size(0, #{$break-point - 1}px) {
      float: none;
      .navbar-nav {
        margin: 0;
        background-color: $bg-color;
        position: relative;
        z-index: 1000;
      }
      .nav > li {
        position: relative;
      }
      a, .navbar-default .navbar-nav > li > a {
        color: $link-color;
        padding: 0 35px 0 15px;
      }
      .menu {
        box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.75);

        & > li {
          margin-left: 0;
          clear: both;

          & > ul {
            box-shadow: none;
          }
        }
      }

      .menu li ul.dropdown-menu {
        position: relative;
        border: 0;
        padding: 0 0 0 0px;
        background: transparent;

        &.collapsing {
          display: block;
        }
        &.collapse {
          display: none;
          &.in {
            display: block;
          }
        }
        li {

          a {
            padding-left: 20px;
            border: none;
            color: $link-color;
            @include rem-fallback('font-size', 1.2);
          }

          &.current-menu-item a {
            color: $active-color;
          }
        }

      }

      .menu li.dropdown {
        position: relative;
        &:before{
          content:"";
          clear: both;
        }
        i.fa {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          line-height: 40px;
          padding:0 10px;
          cursor: pointer;
        }
      }

    }
  }

  @content;
}