<div class="login-body">
    <div class="container" id="main-login">
        <div class="form-signin-wrapper">
            <div class="form-signin-inner">
                <form  ng-submit="login()" name="loginForm" id="form-sign-in" method="post" role="form" >
                    <div class="form-logo">
                        <img src="img/login-main-logo.png" alt="Logo" width="434" height="265">
                    </div>
                    <div  ng-class="{ 'has-success': !error['username'] && submitted,
                'has-error': error['username'] && submitted }"
                         class="form-group field-loginform-username required">
                        <label class="label-email control-label" for="loginform-username"></label>
                        <input  ng-model="userModel.username" type="text" id="loginform-username" class="form-control">
                        <p class="help-block help-block-error">{{ error['username'] }}</p>
                    </div>
                    <div  id="inputPassword" ng-class="{ 'has-success': !error['password'] && submitted,
                'has-error': error['password'] && submitted }"
                         class="form-group field-loginform-password required">
                        <label class="label-password control-label" for="loginform-password"></label>
                        <input ng-model="userModel.password" type="password" id="loginform-password" class="form-control">
                        <p class="help-block help-block-error">{{ error['password'] }}</p>
                    </div>
                    <div class="form-group form-actions">
                        <button type="submit" class="btn btn-lg btn-primary btn-block" name="login-button">Sign in <i ng-if="dataLoading"  class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
                <div class="forgot-password">
                    <a href="#">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</div>
