<div class="container"  *ngIf="showForm == 0">
    <div class="splash-login-wrapper">
        <div class="splash-login splash-login-logo-wrapper">
            <div class="splash-login-logo">
                <img src="img/kelle-mobile-logo.png" alt="Logo" width="396" height="224">
            </div>
        </div>
        <div class="splash-login splash-login-button-wrapper">
            <div class="splash-login-button">
                <a (click)="showFormAction()" href class="login-button-nav">Login Here</a>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="showForm == 1">
    <div class="form-signin-wrapper">
        <div class="form-signin-inner">
            <form id="form-signin" action="" autocomplete="off" >
                <div class="form-logo">
                    <img src="img/login-main-logo.png" alt="Logo" width="434" height="265">
                </div>
                <div class="form-group">
                    <label class="label-email" for="inputEmail"></label>
                    <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Login ID" required autofocus autocomplete="off">
                </div>
                <div class="form-group">
                    <label class="label-password" for="inputPassword"></label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required autocomplete="off">
                </div>
                <div class="form-actions">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </div>
            </form>
            <div class="forgot-password">
                <a href="#">Forgot Password?</a>
            </div>
        </div>
    </div>
</div> <!-- /container -->
