<form id="dynamic-form" action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="YWRlbW1rYmogFDoJGgERGFBTK1wiMgEoIjsoL1UvLhgvBiImGCcYMg==">
    <div class="hidden">
        <div class="form-group field-task-name required">

            <input type="hidden" id="task-name" class="form-control" name="Task[name]" value="Mirror" maxlength="">

            <p class="help-block help-block-error"></p>
        </div>
    </div>
    <div class="padding-v-md">
        <div class="line line-dashed"></div>
    </div>


    <div id="panel-option-values" class="panel panel-default">
        <div class="dynamicform_wrapper" data-dynamicform="dynamicform_196c1cf2">
            <table class="table table-bordered table-striped margin-b-none">
                <tbody class="form-options-body ui-sortable">
                <tr class="form-options-item">
                    <td class="sort-column sortable-handle text-center vcenter v-middle ui-sortable-handle"
                        style="cursor: move;">
                        <i class="fa fa-arrows"></i>
                    </td>

                    <td class="v-middle">
                        <input type="hidden" id="taskrelationmedia-0-id" name="TaskRelationMedia[0][id]" value="109">
                        <input type="hidden" id="taskrelationmedia-0-media_id" name="TaskRelationMedia[0][media_id]"
                               value="107"> <input type="hidden" id="taskrelationmedia-0-deleteimg"
                                                   name="TaskRelationMedia[0][deleteImg]">
                        <div class="form-group field-taskrelationmedia-0-attachment">

                            <input type="hidden" name="TaskRelationMedia[0][attachment]" value="">
                            <div class="file-input">
                                <div class="file-preview ">
                                    <div class="close fileinput-remove">×</div>
                                    <div class="file-drop-disabled">
                                        <div class="file-preview-thumbnails">
                                            <div class="file-initial-thumbs">
                                                <div class="file-preview-frame file-preview-initial"
                                                     id="preview-0-init_0" data-fileindex="init_0"
                                                     data-template="image">
                                                    <div class="kv-file-content">
                                                        <img class="file-preview-image"
                                                             src="/php/enpii/16/np_16014_kelle/uploads/13173705_1030702810356430_8998792497286455136_n1.jpg"
                                                             alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="file-preview-status text-center text-success"></div>
                                        <div class="kv-fileinput-error file-error-message" style="display: none;"></div>
                                    </div>
                                </div>
                                <div class="kv-upload-progress hide"></div>
                                <button type="button" tabindex="500" title="Clear selected files"
                                        class="btn btn-danger btn-sm fileinput-remove fileinput-remove-button"><i
                                        class="fa fa-trash"></i> <span class="hidden-xs"> Delete</span></button>
                                <button type="button" tabindex="500" title="Abort ongoing upload"
                                        class="btn btn-default hide fileinput-cancel fileinput-cancel-button"><i
                                        class="glyphicon glyphicon-ban-circle"></i> <span
                                        class="hidden-xs">Cancel</span></button>

                                <div tabindex="500" class="btn btn-default btn-sm btn-file"><i
                                        class="glyphicon glyphicon-picture"></i> <span
                                        class="hidden-xs"> Pick image</span><input type="file"
                                                                                   id="taskrelationmedia-0-attachment"
                                                                                   class="optionvalue-img"
                                                                                   name="TaskRelationMedia[0][attachment]"
                                                                                   value="107" accept="image/*"
                                                                                   data-krajee-fileinput="fileinput_27ccb68c">
                                </div>
                            </div>
                            <div id="kvFileinputModal0" class="file-zoom-dialog modal fade" tabindex="-1"
                                 aria-labelledby="kvFileinputModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="kv-zoom-actions pull-right">
                                                <button type="button"
                                                        class="btn btn-default btn-header-toggle btn-toggleheader"
                                                        title="Toggle header" data-toggle="button" aria-pressed="false"
                                                        autocomplete="off"><i
                                                        class="glyphicon glyphicon-resize-vertical"></i></button>
                                                <button type="button" class="btn btn-default btn-fullscreen"
                                                        title="Toggle full screen" data-toggle="button"
                                                        aria-pressed="false" autocomplete="off"><i
                                                        class="glyphicon glyphicon-fullscreen"></i></button>
                                                <button type="button" class="btn btn-default btn-borderless"
                                                        title="Toggle borderless mode" data-toggle="button"
                                                        aria-pressed="false" autocomplete="off"><i
                                                        class="glyphicon glyphicon-resize-full"></i></button>
                                                <button type="button" class="btn btn-default btn-close"
                                                        title="Close detailed preview" data-dismiss="modal"
                                                        aria-hidden="true"><i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            </div>
                                            <h3 class="modal-title">Detailed Preview
                                                <small><span class="kv-zoom-title"></span></small>
                                            </h3>
                                        </div>
                                        <div class="modal-body">
                                            <div class="floating-buttons"></div>
                                            <div class="kv-zoom-body file-zoom-content"></div>
                                            <button type="button" class="btn btn-navigate btn-prev"
                                                    title="View previous file"><i
                                                    class="glyphicon glyphicon-triangle-left"></i></button>
                                            <button type="button" class="btn btn-navigate btn-next"
                                                    title="View next file"><i
                                                    class="glyphicon glyphicon-triangle-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--[if lt IE 10]><br>
                        <div class="alert alert-warning"><strong>Note:</strong> Your browser does not support file
                            preview and multiple file upload. Try an alternative or more recent browser to access these
                            features.
                        </div>
                        <script>document.getElementById("taskrelationmedia-0-attachment").className.replace(/\bfile-loading\b/, "");
                        ;</script><![endif]-->

                            <p class="help-block help-block-error"></p>
                        </div>
                    </td>
                    <td class="text-center vcenter v-middle input-control">
                        <button type="button" class="delete-item btn btn-danger btn-xs"><i class="fa fa-minus"></i>
                        </button>
                    </td>
                </tr>

                <tr class="form-options-item">
                    <td class="sort-column sortable-handle text-center vcenter v-middle ui-sortable-handle"
                        style="cursor: move;">
                        <i class="fa fa-arrows"></i>
                    </td>

                    <td class="v-middle">
                        <input type="hidden" id="taskrelationmedia-1-id" name="TaskRelationMedia[1][id]" value="111">
                        <input type="hidden" id="taskrelationmedia-1-media_id" name="TaskRelationMedia[1][media_id]"
                               value="109"> <input type="hidden" id="taskrelationmedia-1-deleteimg"
                                                   name="TaskRelationMedia[1][deleteImg]">
                        <div class="form-group field-taskrelationmedia-1-attachment">

                            <input type="hidden" name="TaskRelationMedia[1][attachment]" value="">
                            <div class="file-input">
                                <div class="file-preview ">
                                    <div class="close fileinput-remove">×</div>
                                    <div class="file-drop-disabled">
                                        <div class="file-preview-thumbnails">
                                            <div class="file-initial-thumbs">
                                                <div class="file-preview-frame file-preview-initial"
                                                     id="preview-1-init_0" data-fileindex="init_0"
                                                     data-template="image">
                                                    <div class="kv-file-content">
                                                        <img class="file-preview-image"
                                                             src="/php/enpii/16/np_16014_kelle/uploads/mgbz1emykdl89rqf16m62.jpg"
                                                             alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="file-preview-status text-center text-success"></div>
                                        <div class="kv-fileinput-error file-error-message" style="display: none;"></div>
                                    </div>
                                </div>
                                <div class="kv-upload-progress hide"></div>
                                <button type="button" tabindex="500" title="Clear selected files"
                                        class="btn btn-danger btn-sm fileinput-remove fileinput-remove-button"><i
                                        class="fa fa-trash"></i> <span class="hidden-xs"> Delete</span></button>
                                <button type="button" tabindex="500" title="Abort ongoing upload"
                                        class="btn btn-default hide fileinput-cancel fileinput-cancel-button"><i
                                        class="glyphicon glyphicon-ban-circle"></i> <span
                                        class="hidden-xs">Cancel</span></button>

                                <div tabindex="500" class="btn btn-default btn-sm btn-file"><i
                                        class="glyphicon glyphicon-picture"></i> <span
                                        class="hidden-xs"> Pick image</span><input type="file"
                                                                                   id="taskrelationmedia-1-attachment"
                                                                                   class="optionvalue-img"
                                                                                   name="TaskRelationMedia[1][attachment]"
                                                                                   value="109" accept="image/*"
                                                                                   data-krajee-fileinput="fileinput_9161cba7">
                                </div>
                            </div>
                            <!--[if lt IE 10]><br>
                        <div class="alert alert-warning"><strong>Note:</strong> Your browser does not support file
                            preview and multiple file upload. Try an alternative or more recent browser to access these
                            features.
                        </div>
                        <script>document.getElementById("taskrelationmedia-2-attachment").className.replace(/\bfile-loading\b/, "");
                        ;</script><![endif]-->

                            <p class="help-block help-block-error"></p>
                        </div>
                    </td>
                    <td class="text-center vcenter v-middle input-control">
                        <button type="button" class="delete-item btn btn-danger btn-xs"><i class="fa fa-minus"></i>
                        </button>
                    </td>
                </tr>
                <tr class="form-options-item">
                    <td class="sort-column sortable-handle text-center vcenter v-middle ui-sortable-handle"
                        style="cursor: move;">
                        <i class="fa fa-arrows"></i>
                    </td>

                    <td class="v-middle">
                        <input type="hidden" id="taskrelationmedia-2-id" name="TaskRelationMedia[2][id]" value="112">
                        <input type="hidden" id="taskrelationmedia-2-media_id" name="TaskRelationMedia[2][media_id]"
                               value="110"> <input type="hidden" id="taskrelationmedia-2-deleteimg"
                                                   name="TaskRelationMedia[2][deleteImg]">
                        <div class="form-group field-taskrelationmedia-2-attachment">

                            <input type="hidden" name="TaskRelationMedia[2][attachment]" value="">
                            <div class="file-input">
                                <div class="file-preview ">
                                    <div class="close fileinput-remove">×</div>
                                    <div class="file-drop-disabled">
                                        <div class="file-preview-thumbnails">
                                            <div class="file-initial-thumbs">
                                                <div class="file-preview-frame file-preview-initial"
                                                     id="preview-2-init_0" data-fileindex="init_0"
                                                     data-template="image">
                                                    <div class="kv-file-content">
                                                        <img class="file-preview-image"
                                                             src="/php/enpii/16/np_16014_kelle/uploads/14522363_1233916753316716_1631886799_o.jpg"
                                                             alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="file-preview-status text-center text-success"></div>
                                        <div class="kv-fileinput-error file-error-message" style="display: none;"></div>
                                    </div>
                                </div>
                                <div class="kv-upload-progress hide"></div>
                                <button type="button" tabindex="500" title="Clear selected files"
                                        class="btn btn-danger btn-sm fileinput-remove fileinput-remove-button"><i
                                        class="fa fa-trash"></i> <span class="hidden-xs"> Delete</span></button>
                                <button type="button" tabindex="500" title="Abort ongoing upload"
                                        class="btn btn-default hide fileinput-cancel fileinput-cancel-button"><i
                                        class="glyphicon glyphicon-ban-circle"></i> <span
                                        class="hidden-xs">Cancel</span></button>

                                <div tabindex="500" class="btn btn-default btn-sm btn-file"><i
                                        class="glyphicon glyphicon-picture"></i> <span
                                        class="hidden-xs"> Pick image</span><input type="file"
                                                                                   id="taskrelationmedia-2-attachment"
                                                                                   class="optionvalue-img"
                                                                                   name="TaskRelationMedia[2][attachment]"
                                                                                   value="110" accept="image/*"
                                                                                   data-krajee-fileinput="fileinput_61780a61">
                                </div>
                            </div>
                            <!--[if lt IE 10]><br>
                        <div class="alert alert-warning"><strong>Note:</strong> Your browser does not support file
                            preview and multiple file upload. Try an alternative or more recent browser to access these
                            features.
                        </div>
                        <script>document.getElementById("taskrelationmedia-3-attachment").className.replace(/\bfile-loading\b/, "");
                        ;</script><![endif]-->

                            <p class="help-block help-block-error"></p>
                        </div>
                    </td>
                    <td class="text-center vcenter v-middle input-control">
                        <button type="button" class="delete-item btn btn-danger btn-xs"><i class="fa fa-minus"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="text-center v-middle ">
                        <button type="button" class="add-item btn btn-success btn-sm"><span class="fa fa-plus"></span>
                            New
                        </button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>


    <div class="submit-button-wrapper">
        <button type="submit" class="btn btn-danger">Update</button>
    </div>

</form>