<div class="sidebar" ng-class="{'active': openSidebar}">
    <div class="sidebar-logo" ng-click="openSidebar = false">
        <img src="img/sidebar-logo.png" alt="" width="301" height="85">
    </div>
    <ul class="sidebar-menu">
        <li class="menu-item menu-dashboard active"><a href="#/dashboard"><span class="menu-icon"></span>Dashboard</a></li>
        <li class="menu-item menu-notification" ><a href="#/notification"><i class="fa fa-envelope-o" aria-hidden="true"></i>Notifications</a></li>
        <li class="menu-item menu-logout"><a href="#/logout"><span class="menu-icon"></span>Logout</a></li>
    </ul>
</div>