/* line 7, /projects/php/enpii/16/kelle-mobile/www/sass/_app-global.scss */ html, body { height: 100%; font-family: 'Open Sans', sans-serif; text-transform: none; }

/* line 12, /projects/php/enpii/16/kelle-mobile/www/sass/_app-global.scss */ body { background: #edf0f5; }

/* line 15, /projects/php/enpii/16/kelle-mobile/www/sass/_app-global.scss */ img { max-width: 100%; height: auto; }

/* line 19, /projects/php/enpii/16/kelle-mobile/www/sass/_app-global.scss */ .login-body .view-body { height: 100%; }

/* line 22, /projects/php/enpii/16/kelle-mobile/www/sass/_app-global.scss */ .dashboard-body { background: #edf0f5; text-transform: none; }

/* line 26, /projects/php/enpii/16/kelle-mobile/www/sass/_app-global.scss */ .container { padding-left: 40px; padding-right: 40px; }

@media only screen and (max-width: 480px) { /* line 26, /projects/php/enpii/16/kelle-mobile/www/sass/_app-global.scss */ .container { padding-left: 20px; padding-right: 20px; } }

/* line 34, /projects/php/enpii/16/kelle-mobile/www/sass/_app-global.scss */ .row { margin-left: -40px; margin-right: -40px; }

@media only screen and (max-width: 480px) { /* line 34, /projects/php/enpii/16/kelle-mobile/www/sass/_app-global.scss */ .row { margin-left: -20px; margin-right: -20px; } }

/* line 1, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .login-body { height: 100vh; background: url("../img/login-bg-mobile.jpg") center no-repeat; background-size: cover; }

/* line 5, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .login-body .container { height: 100%; }

/* line 9, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .splash-login-wrapper { display: table; width: 100%; height: 100%; }

/* line 13, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .splash-login-wrapper .splash-login { position: relative; max-width: 530px; margin: auto; display: table-row; }

/* line 18, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .splash-login-wrapper .splash-login .login-button-nav { padding: 28px 20px; background-color: #9a4a47; border: 0; text-align: center; font-size: 28px; color: #fff; width: 100%; display: block; text-decoration: none; }

@media only screen and (max-width: 480px) { /* line 18, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .splash-login-wrapper .splash-login .login-button-nav { padding: 16px 20px; font-size: 14px; } }

/* line 33, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .splash-login-wrapper .splash-login .splash-login-logo { display: table-cell; text-align: center; vertical-align: middle; }

@media only screen and (max-width: 480px) { /* line 38, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .splash-login-wrapper .splash-login .splash-login-logo img { max-width: 197px; } }

/* line 43, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .splash-login-wrapper .splash-login .splash-login-button { display: table-cell; vertical-align: bottom; padding: 68px 36px; }

@media only screen and (max-width: 480px) { /* line 43, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .splash-login-wrapper .splash-login .splash-login-button { padding: 31px 9px; } }

/* line 52, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .splash-login-wrapper .splash-login-logo-wrapper { height: 65%; }

/* line 58, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .splash-login-wrapper .splash-login-button-wrapper { height: 35%; }

/* line 67, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner { padding: 97px 20px 0 20px; }

/* line 70, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in { background-color: #fff; padding: 36px 36px 69px 36px; margin: auto; box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.42); }

/* line 77, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .form-logo { padding: 72px 26px; }

/* line 80, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in img { width: 100%; height: auto; }

/* line 84, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .form-group { margin-top: 17px; position: relative; }

/* line 87, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .form-group input[type=text], .form-signin-inner #form-sign-in .form-group input[type=password] { height: 65px; background: #f3f3f3; border-radius: 0; font-size: 21px; padding: 0 55px; border: 0; }

/* line 94, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .form-group input[type=text]:-webkit-autofill, .form-signin-inner #form-sign-in .form-group input[type=password]:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px #f3f3f3 inset; }

/* line 98, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .form-group label { position: absolute; top: 0; bottom: 0; margin: auto; left: 20px; width: 20px; height: 28px; }

/* line 106, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .form-group label.label-email { background: url("../img/user-icon.png") center no-repeat; }

/* line 109, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .form-group label.label-password { background: url("../img/lock-icon.png") center no-repeat; }

/* line 112, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .form-group label.error { position: static; color: red; width: 100%; display: block; padding: 5px 0; }

/* line 123, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .form-actions button { height: 77px; width: 100%; font-size: 21px; color: #fff; background: #3a3939; border: 0; border-radius: 0; text-decoration: none; display: block; }

/* line 135, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .alert { margin: 15px 0 0 0; border-radius: 0; border-width: 2px; }

/* line 141, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner .forgot-password { text-align: right; padding: 20px 0; }

/* line 144, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner .forgot-password a { color: #666666; text-transform: capitalize; font-size: 21px; }

@media only screen and (max-width: 480px) { /* line 67, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner { padding: 55px 0 0 0; }
  /* line 152, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in { padding: 36px 18px 34px 18px; }
  /* line 154, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .form-logo { padding: 17px 13px 43px 13px; }
  /* line 157, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .form-group { margin-top: 0; margin-bottom: 5px; }
  /* line 160, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .form-group input[type=text], .form-signin-inner #form-sign-in .form-group input[type=password] { height: 37px; background: #f3f3f3; font-size: 14px; padding: 0 25px; }
  /* line 166, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .form-group label { position: absolute; top: 0; bottom: 0; margin: auto; left: 4px; width: 20px; height: 28px; }
  /* line 174, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .form-group label.label-email { background: url("../img/user-icon.png") center no-repeat; background-size: 56%; }
  /* line 178, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .form-group label.label-password { background: url("../img/lock-icon.png") center no-repeat; background-size: 56%; }
  /* line 186, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner #form-sign-in .form-actions button { height: 41px; width: 100%; font-size: 14px; }
  /* line 193, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner .forgot-password { padding: 14px 0; }
  /* line 195, /projects/php/enpii/16/kelle-mobile/www/sass/_app-login.scss */ .form-signin-inner .forgot-password a { font-size: 14px; } }

/* line 1, /projects/php/enpii/16/kelle-mobile/www/sass/_header.scss */ #main-header { background-color: #b84541; padding: 36px 0 30px 0; }

/* line 4, /projects/php/enpii/16/kelle-mobile/www/sass/_header.scss */ #main-header .menu-control { float: left; }

/* line 6, /projects/php/enpii/16/kelle-mobile/www/sass/_header.scss */ #main-header .menu-control .menu-toggle-btn { margin-top: 9px; background-color: transparent; border: 0; padding: 0; }

/* line 11, /projects/php/enpii/16/kelle-mobile/www/sass/_header.scss */ #main-header .menu-control .menu-toggle-btn:focus { outline: none; }

/* line 14, /projects/php/enpii/16/kelle-mobile/www/sass/_header.scss */ #main-header .menu-control .menu-toggle-btn .icon-bar { width: 36px; height: 6px; border-radius: 2px; background-color: #fff; display: block; }

/* line 20, /projects/php/enpii/16/kelle-mobile/www/sass/_header.scss */ #main-header .menu-control .menu-toggle-btn .icon-bar + .icon-bar { margin-top: 6px; }

/* line 26, /projects/php/enpii/16/kelle-mobile/www/sass/_header.scss */ #main-header .menu-title { text-align: center; color: #fff; font-size: 31px; }

@media only screen and (max-width: 480px) { /* line 1, /projects/php/enpii/16/kelle-mobile/www/sass/_header.scss */ #main-header { padding: 22px 0 12px 0; }
  /* line 34, /projects/php/enpii/16/kelle-mobile/www/sass/_header.scss */ #main-header .menu-control .menu-toggle-btn { margin-top: 3px; }
  /* line 36, /projects/php/enpii/16/kelle-mobile/www/sass/_header.scss */ #main-header .menu-control .menu-toggle-btn .icon-bar { width: 19px; height: 4px; }
  /* line 39, /projects/php/enpii/16/kelle-mobile/www/sass/_header.scss */ #main-header .menu-control .menu-toggle-btn .icon-bar + .icon-bar { margin-top: 2px; }
  /* line 45, /projects/php/enpii/16/kelle-mobile/www/sass/_header.scss */ #main-header .menu-title { font-size: 15.5px; } }

/* line 1, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar { height: 100vh; background: #3a3939; position: fixed; top: 0; bottom: 0; left: 0; -webkit-transform: translate(-100%, 0); transform: translate(-100%, 0); width: 363px; -webkit-transition: all 0.3s; transition: all 0.3s; }

/* line 12, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar.active { left: 0; -webkit-transform: translate(0, 0); transform: translate(0, 0); box-shadow: 5px 1px 5px 2px rgba(0, 0, 0, 0.44); }

/* line 19, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar-logo { background: #a43531; padding: 14px 27px 16px 34px; }

/* line 23, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu { list-style: none; padding: 28px 0; }

/* line 26, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu li { color: #fff; background-color: transparent; font-size: 28px; }

/* line 30, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu li a { padding: 20px 40px; display: block; color: #fff; font-weight: 600; }

/* line 39, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu .menu-item .menu-icon { background: url("../img/menu-icon.png") 0 0 no-repeat; width: 20px; height: 20px; display: inline-block; margin-top: 13px; margin-right: 16px; }

/* line 48, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu .menu-item.menu-dashboard .menu-icon { background-position: -26px 0; }

/* line 53, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu .menu-item.menu-logout .menu-icon { background-position: -26px -22px; }

/* line 57, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu .menu-item.active, .sidebar .sidebar-menu .menu-item:hover { background: #464545; }

/* line 60, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu .menu-item.active.menu-dashboard .menu-icon, .sidebar .sidebar-menu .menu-item:hover.menu-dashboard .menu-icon { background-position: 0 0; }

/* line 65, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu .menu-item.active.menu-logout .menu-icon, .sidebar .sidebar-menu .menu-item:hover.menu-logout .menu-icon { background-position: 0 -22px; }

@media only screen and (max-width: 480px) { /* line 1, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar { width: 183px; }
  /* line 74, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar-logo { padding: 7px 14px 8px 16px; }
  /* line 77, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu { list-style: none; padding: 13px 0; }
  /* line 80, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu li { font-size: 14px; }
  /* line 82, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu li a { padding: 12px 20px; }
  /* line 87, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu .menu-item .menu-icon { background: url("../img/menu-icon.png") 13px 0 no-repeat; background-size: 24px 21px; width: 11px; height: 11px; margin-top: 3px; margin-right: 9px; }
  /* line 96, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu .menu-item.menu-dashboard .menu-icon { background-position: -13px 0; }
  /* line 101, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu .menu-item.menu-logout .menu-icon { background-position: -13px -11px; }
  /* line 105, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu .menu-item.active, .sidebar .sidebar-menu .menu-item:hover { background: #464545; }
  /* line 108, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu .menu-item.active.menu-dashboard .menu-icon, .sidebar .sidebar-menu .menu-item:hover.menu-dashboard .menu-icon { background-position: 0 0; }
  /* line 113, /projects/php/enpii/16/kelle-mobile/www/sass/_sidebar.scss */ .sidebar .sidebar-menu .menu-item.active.menu-logout .menu-icon, .sidebar .sidebar-menu .menu-item:hover.menu-logout .menu-icon { background-position: 0 -11px; } }

/* line 1, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .building { padding-top: 40px; background-color: #fff; padding-bottom: 52px; }

/* line 5, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .building-heading { float: left; width: 74%; padding-top: 44px; }

/* line 10, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .building-title { font-size: 21px; }

/* line 13, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .building-name { font-size: 50px; color: #b84541; font-weight: 300; padding-top: 8px; }

/* line 19, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .building-image-heading { width: 26%; float: left; }

/* line 24, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .filter { padding-top: 50px; }

/* line 26, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .filter .form-group { margin-bottom: 41px; }

/* line 29, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .filter .control-label { font-size: 21px; font-weight: 500; text-transform: uppercase; color: #999999; margin-bottom: 13px; }

/* line 36, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .filter .form-control { border-radius: 0; height: 70px; border: 1px solid #dfe3e9; }

/* line 42, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .filter-select { background-color: #fff; }

/* line 44, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .filter-select .form-group { padding: 20px 21px 22px 0; margin-bottom: 0; }

/* line 47, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .filter-select .form-group + .form-group { border-left: 1px solid #dfe3e9; }

/* line 52, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .filter-select .floor-filter { width: 32%; float: left; }

/* line 56, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .filter-select .facility-filter { width: 68%; float: left; padding-left: 44px; }

/* line 61, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .filter-select .control-label { font-size: 21px; font-weight: 500; text-transform: uppercase; color: #999999; margin-bottom: 17px; }

/* line 68, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .filter-select select { border: 0; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; background: url("../img/dropdow-arrow.png") right 0 center no-repeat; box-shadow: none; padding: 0; font-size: 24px; color: #49494e; margin: 0; }

/* line 79, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .filter-select select:focus { outline: none; border: 0; box-shadow: none; }

/* line 86, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .block { padding-top: 40px; }

/* line 88, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .block-list { list-style: none; padding: 0; }

/* line 92, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .block-title { font-size: 26px; color: #b84541; }

/* line 96, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .block-item { margin-bottom: 30px; border: 1px solid #dfe3e9; padding: 20px; background-color: #fff; }

/* line 103, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .block-info { font-size: 21px; }

@media only screen and (min-width: 480px) { /* line 103, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .block-info { width: 70%; float: left; } }

/* line 110, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .block-info-item label { color: #999999; font-weight: 400; width: 150px; }

@media only screen and (min-width: 480px) { /* line 118, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .block-rating { width: 30%; float: left; text-align: right; } }

/* line 127, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .block-rating .br-theme-fontawesome-stars .br-widget a { font: normal normal normal 20px/1 FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; text-decoration: none; margin-right: 2px; font-size: 28px; }

/* line 134, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .block-rating .br-theme-fontawesome-stars .br-widget a:after { content: "\f006"; color: #f1c40f; }

/* line 140, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .block-rating .br-theme-fontawesome-stars .br-widget .br-selected:after, .block-rating .br-theme-fontawesome-stars .br-widget .br-current:after { content: "\f005"; color: #f1c40f; }

/* line 148, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .block-rating-number { font-size: 47px; color: #b84541; }

/* line 152, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .block-rating-label { font-size: 21px; text-transform: uppercase; }

/* line 158, /projects/php/enpii/16/kelle-mobile/www/sass/_app_dashboard.scss */ .back-to-dashboard { display: block; width: 41px; height: 33px; background: url("../img/arrow-left.png") center no-repeat; }

/* line 2, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .facility-info ul { padding: 0; margin-bottom: 20px; list-style: none; }

/* line 6, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .facility-info ul li { padding: 0 0; }

/* line 8, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .facility-info ul li:nth-child(n + 1) { background-color: #fff; }

/* line 11, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .facility-info ul li:nth-child(2n + 1) { background-color: #f5f8fc; }

/* line 18, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .facility-info .info-item .inner { position: relative; padding: 30px 0 30px 110px; min-height: 90px; }

/* line 24, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .facility-info .info-title { font-size: 21px; color: #999999; text-transform: uppercase; margin-bottom: 4px; }

/* line 30, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .facility-info .info-content { font-size: 28px; color: #49494e; }

/* line 34, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .facility-info .info-icon { position: absolute; height: 62px; width: 61px; left: 0; background: url("../img/icon-facility.png") 0 0 no-repeat; top: 33px; }

/* line 41, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .facility-info .info-icon.icon-date { background-position: 0 -133px; }

/* line 44, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .facility-info .info-icon.icon-key { background-position: 0 -273px; }

/* line 47, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .facility-info .info-icon.icon-panel { background-position: 0 -398px; }

/* line 50, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .facility-info .info-icon.icon-file { background-position: 0 -533px; }

/* line 56, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .rate-tasks { padding-top: 90px; }

/* line 58, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .rate-tasks-title { font-size: 36px; color: #3a3939; margin-bottom: 25px; }

/* line 63, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .rate-tasks #task-list { padding: 0; list-style: none; }

/* line 66, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .rate-tasks #task-list .task-item { background-color: #fff; padding: 27px 0; margin-bottom: 40px; }

/* line 72, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .rate-tasks #task-list .task-item .inner .task-item-title { float: left; color: #b84541; font-size: 30px; }

/* line 78, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .rate-tasks #task-list .task-item .inner .image-control a { width: 150px; height: 150px; border: 1px solid #d3d7dd; display: inline-block; color: #d3d7dd; font-size: 48px; padding: 39px 48px; }

/* line 88, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .rate-tasks #task-list .task-item .inner .task-action { float: right; }

/* line 90, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .rate-tasks #task-list .task-item .inner .task-action .br-theme-fontawesome-stars { float: left; margin-right: 5px; margin-top: 7px; }

/* line 95, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .rate-tasks #task-list .task-item .inner .task-action .br-theme-fontawesome-stars .br-widget a { font: normal normal normal 20px/1 FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; text-decoration: none; margin-right: 2px; font-size: 35px; }

/* line 102, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .rate-tasks #task-list .task-item .inner .task-action .br-theme-fontawesome-stars .br-widget a:after { content: "\f006"; color: #f1c40f; }

/* line 108, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .rate-tasks #task-list .task-item .inner .task-action .br-theme-fontawesome-stars .br-widget .br-selected:after, .rate-tasks #task-list .task-item .inner .task-action .br-theme-fontawesome-stars .br-widget .br-current:after { content: "\f005"; color: #f1c40f; }

/* line 115, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .rate-tasks #task-list .task-item .inner .task-action .edit-facility { font-size: 21px; display: block; float: left; background-color: #d3d7dd; color: #393c42; border: 1px solid #c5c9cf; border-radius: 5px; text-decoration: none; padding: 10px 30px; text-transform: uppercase; }

/* line 126, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .rate-tasks #task-list .task-item .inner .task-action .edit-facility.active { background-color: #b84541; color: #fff; }

/* line 135, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .rate-tasks .image-control { padding-top: 20px; padding-bottom: 20px; }

/* line 142, /projects/php/enpii/16/kelle-mobile/www/sass/_app-facility.scss */ .request-adhoc a { text-align: center; background-color: #b84541; display: block; font-size: 28px; color: #fff; text-decoration: none; padding: 40px 0; }

/* line 10, /projects/php/enpii/16/kelle-mobile/www/sass/main.scss */ .app { display: none; }
/*# sourceMappingURL=main.css.map */