<header id="main-header">
    <div class="container">
        <div class="header-inner">
            <div class="menu-control">
                <a class="back-to-dashboard" href back></a>
            </div>
            <div class="menu-title">
                Notifications
            </div>
        </div>
    </div>
</header>
<div ng-include="'view/layout/sidebar.view.html'"></div>
<div class="container" ng-click="openSidebar = false">
    <div class="row">
        <div class="building notification-wrapper">

            <div class="facility-info">
                <ul id="list-notifications">

                </ul>
            </div>

        </div>

    </div>
</div>
<div ng-include="'view/layout/footer.view.html'"></div>